.chat-wrapper {


  .chat-form-wrapper {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 80%;
    border-top: #ccc solid 1px;
    padding: 7px 0;
    background: #FFF;
  }
}

.chat-room-wrapper {

}
