<app-chat-nav
  [back]="'/shop'"
  [title]="appService.pageTitle"></app-chat-nav>

<div class="chat-room-wrapper">
  <div [class]="'user-list-wrapper ' + chatService.blockToDisplay">
    <div>
      <app-chat-user-list></app-chat-user-list>
    </div>
  </div>
  <div [class]="'chat-wrapper ' + chatService.blockToDisplay">
    <div class="">
      <div class="main-chat-content">
        <app-chat-feed></app-chat-feed>
      </div>

      <div class="chat-form-wrapper">
        <app-chat-form></app-chat-form>
      </div>
    </div>
  </div>
</div>
