<div class="nav-wrapper">
  <div class="{{ utilsService.getTransClass(transparent) }} bar padding x-small-space">
    <div class="top-right">
      <button *ngIf="back && back != null" mdl-button class="nav-back mdl-color-text--white"
              mdl-button-type="icon" mdl-ripple (click)="goBack()">
        <mdl-icon>arrow_backward</mdl-icon>
      </button>

      <h4 *ngIf="title && title != null" class="nav-title mdl-color-text--white">{{ title }}</h4>

      <button mdl-button class="nav-menu mdl-color-text--white" #btn2="mdlButton" (click)="m2.toggle($event, btn2)"
              mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>

      <div class="clearfix"></div>

      <mdl-menu #m2="mdlMenu" mdl-menu-position="bottom-right">
        <a class="mdl-color-text--primary" (click)="goHome()">
          <div class="padding xx-small-space">Home</div>
        </a>
        <a class="mdl-color-text--primary" (click)="goCategories()">
          <div class="padding xx-small-space">GEBRAUCHTMASCHINEN</div>
        </a>
      </mdl-menu>
    </div>
  </div>
</div>
<div class="bar-space"></div>
