<div *ngIf="isValidMessage">
  <div *ngIf="!isOwnMessage" class="chat-message-item-wrapper" id="chat-{{ chatMessage.$key }}">

    <div class="chat-message-item-content">
      <!--<p>{{ chatMessage.email }}</p>-->
      <div>{{ chatMessage.message }}</div>
    </div>

    <!--<div class="xx-small-space horizontal"></div>-->

    <span>{{ getFormattedTime(chatMessage.timestamp) }}</span>

    <button class="more-button" mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
    <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
      <mdl-menu-item mdl-ripple (click)="deleteMessage(false)">Delete</mdl-menu-item>
      <!--<mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>-->
      <!--<mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>-->
      <!--<mdl-menu-item>Yet Another Action</mdl-menu-item>-->
    </mdl-menu>

  </div>


  <div *ngIf="isOwnMessage" class="chat-message-item-wrapper own-message" id="chat-{{ chatMessage.$key }}">

    <button class="more-button" mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
    <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
      <mdl-menu-item mdl-ripple (click)="deleteMessage(true)">Delete</mdl-menu-item>
      <!--<mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>-->
      <!--<mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>-->
      <!--<mdl-menu-item>Yet Another Action</mdl-menu-item>-->
    </mdl-menu>

    <div class="chat-message-item-content">
      <!--<p>{{ chatMessage.email }}</p>-->
      <div *ngIf="chatMessage.type === 'image'"><img style="max-height: 200px; width: auto; margin: 10px 0;" src="{{ chatMessage.imageUrl }}"/></div>
      <div *ngIf="chatMessage.type !== 'image'">{{ chatMessage.message }}</div>
    </div>

    <!--<div class="xx-small-space horizontal"></div>-->

    <span>{{ getFormattedTime(chatMessage.timestamp) }}</span>

  </div>


  <div class="x-small-space"></div>
</div>
