<div class="mdl-grid mdl-typography--text-center">
  <mdl-card class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="2">
    <a [routerLink]="['/admin/services']">
      <div></div>
      <i class="material-icons" role="presentation">store</i>
      <div>Shop</div>
    </a>
  </mdl-card>
  <mdl-card class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="2">
    <a [routerLink]="['/admin/users']">
      <div><i class="material-icons" role="presentation">supervised_user_circle</i></div>
      <div>Users</div>
    </a>
  </mdl-card>
  <mdl-card class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="2">
    <a [routerLink]="['/shop']">
      <div><i class="material-icons" role="presentation">home</i></div>
      <div>Visit site home</div>
    </a>
  </mdl-card>
</div>
