.custom-table-image-wrapper {
  padding: 10px;
  background: #f7f7f7;
  position: relative;

  .custom-table-image {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .custom-table-image-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    color: #fff;
    display: none;

    a {
      margin: 0 5px;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &:hover {
    //cursor: pointer;

    .custom-table-image-overlay {
      display: block;
    }
  }
}
