<div [class]="activeClass" (click)="chatService.changeChat(user.uid)">
  <div class="mdl-grid">
    <div
      class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone graybox">
      <!--<img class="full-width" src="/assets/images/pic_square.jpeg"/>-->
      <div class="chat-user-profile-image" [style.background-image]="'url(' + user.profileImage + ')'"></div>
    </div>
    <div
      class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone graybox">
      <div class="chat-user-name">{{ user.fullNames }}</div>
      <div class="chat-last-message" *ngIf="user.lastChatMessage && user.lastChatMessage.type == 'image'">Image attachment</div>
      <div class="chat-last-message" *ngIf="user.lastChatMessage && user.lastChatMessage.type != 'image'">{{ user.lastChatMessage.message }}</div>
      <div></div>
    </div>
  </div>
</div>
