.chat-user-wrapper {
  border-top: #ccc solid 1px;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background: #ccc;
  }
}

.chat-user-wrapper {
  img {
    border-radius: 50%;
  }
}

.chat-user-profile-image {
  /*width: 45px;
  height: 45px;*/
  width: 90%;
  padding-top: 90%;
  height: auto;
  background-size: cover;
  border-radius: 50%;
}

.chat-user-name {
  padding: 7px 0;
  font-size: 18px;
}


.chat-last-message {
  font-size: 16px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .chat-user-name {
    font-size: 22px;
    padding: 15px 0;
  }

  .chat-last-message {
    font-size: 18px;
  }

  .chat-user-profile-image {
    width: 70%;
    padding-top: 70%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .chat-user-name {
    padding: 0;
    font-size: inherit;
  }

  .chat-last-message {
    font-size: inherit;
  }

  .chat-user-profile-image {
    width: 100%;
    padding-top: 100%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
