@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: "213,48,35";
$color-primary-dark: "208,43,30";
$color-accent: "51,51,51";
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~@angular-mdl/core/scss/material-design-lite';

@import "assets/styles/components/elements";
@import "assets/styles/components/spaces";
@import "assets/styles/layouts/header";
@import "assets/styles/layouts/pages";
