<mdl-card class="shop-service full-width" mdl-shadow="2" routerLink="/service/{{ service.sid }}">
  <!--<mdl-card-title mdl-card-expand>-->
    <!--<img class="full-width" src="{{ service.mainPhotoUrl }}" />-->
  <div class="service-image" [style.backgroundImage]="'url(' + service.mainPhotoUrl + ')'"></div>
  <!--</mdl-card-title>-->
  <mdl-card-supporting-text>
    <div class="item-details-wrapper">
      <div>{{ service.service | slice:0:35 }} {{ (service.service.length > 35) ? '...' : '' }}</div>
      <div class="item-details-price"><strong>Price: {{ service.price | currency }}</strong></div>
    </div>
  </mdl-card-supporting-text>
  <!--<mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored mdl-ripple>
      View Updates
    </button>
  </mdl-card-actions>-->
</mdl-card>
